@model IEnumerable<JobOffersWebsite.Models.JobsViewModel>


@foreach (var gr in Model)
{
    <h3>@gr.JobTitle</h3>
    <table class="table  table-bordered table-hovered">
        <tr>
            <th>اسم الباحث</th>
            <th>الرسالة</th>
            <th>تاريخ الإرسال</th>
        </tr>
        <tr>
            @foreach (var item in gr.Items)
            {
            <tr>
                <td>@item.user.UserName </td>
                <td>@item.Message </td>
                <td>@item.ApplyDate</td>
            </tr>
            }
        </table>
}



@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.UserName )
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>*@
