@model JobOffersWebsite.Models.Job

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>إضافة وظيفة جديدة</h2>
<script src="~/scripts/ckeditor/ckeditor.js"></script>

@using (Html.BeginForm("Create", "Jobs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.JobName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JobName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.JobDescription, new { htmlAttributes = new { @class = "form-control", @id = "JobDescription" } })
                @Html.ValidationMessageFor(model => model.JobDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.JobImage, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="file" name="upload" id="myImage" />
                @Html.ValidationMessageFor(model => model.JobImage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID, "نوع الوظيفة", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حفظ" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("عودة للقائمة", "Index")
</div>



@section scripts{
    <script>
        $(function () {
            $("#save").click(function () {
                //Check if the input is empty
                if ($("#myImage").val() == "") {
                    $("#error-div").fadeIn();
                    $("#view-err").append("رجاء قم باختيار صورة للوظيفة");
                    return false;
                }

                if ($("#myImage").val() != "") {
                    // check if the image extension is valid
                    var filename = document.getElementById('myImage').value;
                    var extensionImg = filename.substr(filename.lastIndexOf('.') + 1).toLowerCase();
                    var validExtensions = ['jpg', 'png', 'gif', 'bmp', 'jpeg'];
                    if ($.inArray(extensionImg, validExtensions) == -1) {
                        $("#error-div").fadeIn();
                        $("#view-err").append("رجاء قم باختيار صورة بامتداد صحيح");
                        return false;
                    }

                    // check if the image size is valid (2 mb)
                    var myFileSize = document.getElementById('myImage').files[0].size / 1024 / 1024;
                    alert
                    if (myFileSize > 2) {
                        $("#error-div").fadeIn();
                        $("#view-err").append("رجاء قم باختيار صورة بحجم لايزيد عن 2 ميجابايت");
                        return false;
                    }
                }
            });
        });


        CKEDITOR.replace("JobDescription");
    </script>
}